@import "../../styles/variables";
@import "../../styles/mixins";

.quiz {
  height: calc(100vh - 246px);

  &__progress-wrapper {
    height: 90vh;
    @include flexCentered;
  }

  &__title {
    font-weight: 700;
    font-size: 28px;
    color: $color-title;
    margin-bottom: 16px;
    line-height: 34px;
  }

  &__subtitle {
    font-weight: 400;
    color: $color-subtitle;
    margin-bottom: 24px;
  }

  &__highlight {
    color: $color-primary-button;
  }
}
