$color-bg: #1F002B;
$color-primary-button : #E4229C;
$color-primary-button-disabled: rgba(228, 34, 156, 0.4);
$color-primary-label: rgba(228, 34, 156, 0.2);
$color-secondary-button: #36173D;
$color-secondary-button-active: #E4229B33;
$color-secondary-checkbox: #6D4376;
$color-white: #FFFFFF;
$color-title: #F2F3F5;
$color-subtitle: #c4c8cc;
$color-progress-bar: #E8EAF2;
$color-error-message: #a10000;
$color-greetings-icon: #bee2bd;
