@import "../../styles/variables";

.save-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 480px;
  gap: 12px;
  margin: 0 auto 30px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-family: Albert sans, sans-serif;
  font-weight: 600;
  font-size: 17px;
  line-height: 25px;
  color: $color-subtitle;

  &__icon {
    width: 36px;
    height: 36px;
  }
}
