@import "styles/reset";
@import "styles/variables";

:root {
  color: $color-white;
  background-color: $color-bg;

  font-family: "Nunito Sans", sans-serif;
  line-height: 24px;
  font-weight: 600;
  font-size: 17px;
}

body {
  margin: 0;
  display: flex;
  min-width: 375px;
  min-height: 100vh;
}

#root {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 24px;
  text-align: center;
}
